
body, td {
	margin: 0 0 0 0;
}
.FTB {
	color: green;
}
.siteText, .siteText table {
	font-size: 10pt;
}

.infobox a:link, .infobox a:visited, .infobox a:active {
	color: green;
	text-decoration: none;
	border-bottom: 1px dotted green;
}
.infobox a:hover {
	color: green;
	text-decoration: none;
	border-bottom: 1px solid green;
}
.noline:link, .noline:active, .noline:visited, .noline:hover {
	text-decoration: none;
	border-bottom: none;
}
.black {
	color: #000;
}
div#header {
	color: #000;
	height: 80px;
	padding: 10px;	
	background:#EFEFEF url(/images/codesample.gif) no-repeat right;
	border-bottom: 2px solid green;
}
div#header h2 {
	color: green;
	margin: 2px 2px 2px 2px;
}

div#maindiv {
	padding: 10px 10px 10px 10px;
	
}
div#contentcolumn {
	margin: 0px 0px 0px 10px;
	width:auto;
}
div#menucolumn {
	float: right;
	margin: 0px 10px 0px 0px;
}
.infobox {
	border: 1px solid #000000; 
	background-color: #EFEFEF; 
	width: 200px;
	padding: 5px;
}
.infobox h3 {
	margin: 2px 2px 2px 2px;
}

ul {
	margin-left: 28px;
	margin-top: 8px;
	margin-bottom: 10px;
}




.ctl0_MainContent_FreeTextBox1_EditorStyle {
	background-color: #FFFFFF;
	border: 0; 
	/*frameBorder: 0;*/
	border-right: 1px solid #808080;
	border-left: 1px solid #808080;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
}
.ctl0_MainContent_FreeTextBox1_EditorStyle body {
	background-color: black;
}
.ctl0_MainContent_FreeTextBox1_StartTabOn {
	font: 10pt MS Sans Serif;
	padding: 1px;
	border-left: 1px solid #81A9E2;
	border-right: 1px solid #FFFFFF;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #81A9E2;
	background-color: #81A9E2;
}
.ctl0_MainContent_FreeTextBox1_StartTabOff {
	font: 10pt MS Sans Serif;
	padding:1px;
	border-left: 1px solid #81A9E2;
	border-right: 1px solid #808080;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #81A9E2;
	background-color: #81A9E2;
}
.ctl0_MainContent_FreeTextBox1_TabOn {
	font: 8pt MS Sans Serif;
	padding:1px;
	padding-left:5px;
	padding-right:5px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #808080;
	border-top: 1px solid #9EBEF5;
	border-bottom: 1px solid #808080;
	background-color: #9EBEF5;
}
.ctl0_MainContent_FreeTextBox1_TabOffRight {
	font: 8pt MS Sans Serif;
	padding:1px;
	padding-left:5px;
	padding-right:5px;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #81A9E2;
	background-color: #81A9E2;
}
.ctl0_MainContent_FreeTextBox1_TabOffLeft {
	font: 8pt MS Sans Serif;
	padding:1px;
	padding-left:5px;
	padding-right:5px;
	border-left: 1px solid #808080;
	border-right: 1px solid #FFFFFF;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #9EBEF5;
	background-color: #81A9E2;
}
.ctl0_MainContent_FreeTextBox1_EndTab {
	font: 10pt MS Sans Serif;
	width: 100%;
	padding:1px;
	border-left: 1px solid #81A9E2;
	border-right: 1px solid #81A9E2;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #81A9E2;
	background-color: #81A9E2;
}
.ctl0_MainContent_FreeTextBox1_ButtonNormal {
	padding: 1px;
	
	font-family: MS Sans Serif;
	font-size: 10pt;
}
.ctl0_MainContent_FreeTextBox1_ButtonOver {
	border-top: 1px solid #000080;	
	border-left: 1px solid #000080;
	border-right: 1px solid #000080;
	border-bottom: 1px solid #000080;
	
	background-image: url(../Images/Editor/toolbarbutton.over.gif);
	font-family: MS Sans Serif;
	font-size: 10pt;
}
.ctl0_MainContent_FreeTextBox1_ButtonDown {
	border-top: 1px solid #000080;	
	border-left: 1px solid #000080;
	border-right: 1px solid #000080;
	border-bottom: 1px solid #000080;
	
	
	font-family: MS Sans Serif;
	font-size: 10pt;
}
.ctl0_MainContent_FreeTextBox1_Toolbar {
	margin-bottom: 1px; 
	margin-right: 2px;
	float: left;
	background-image: url(../Images/Editor/toolbar.Horizontal.background.gif);
}
