<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.webServer>
      <defaultDocument>
        <files>
          <add value="Index.aspx" />
        </files>
      </defaultDocument>
    </system.webServer>
	  <appSettings>
		  <!-- for information on setting the values for the service connection-->
		  <add key="C_URL" value="http://192.168.3.247:9898/K3Cloud/"/>
		  <add key="C_ZTID" value="5c4671d93bacad"/>
		  <add key="C_USERNAME" value="Administrator"/>
		  <add key="C_PWD" value="tjb316,"/>
		  <add key="C_CONNECTIONSTRING" value="Data Source=192.168.3.247/orcl;User Id=K30118;Password=Tangmi123"/>
	  </appSettings>
</configuration>
